
  <header>
    <div class="header">

      <h1> ECOMMERCE </h1>

      <div class="search">
        <form class="search-container" (ngSubmit)="submitSearch()">
          <input type="text" id="search-bar" placeholder="What can I help you with today?" [(ngModel)]="searchQuery">
        <a href="#"><img class="search-icon" alt="search"></a>
      </form>
      </div>
      <div class="icons">
      <a routerLink="/login" class="settings">Settings</a>
      <a routerLink="/logo" class="logout">Logout</a>
    </div>
    </div>

  </header>

