<!DOCTYPE html>
<html lang="en">

<head>
  <title>WPU Online Store</title>
  <link rel="stylesheet" href="home.component.css">
</head>

<body>
<!-- Navigation Bar -->
<nav>
  <a routerLink="">Home</a>
  <a routerLink="/user">User</a>
  <a href="#">Login</a>
  <a href="#">Shop</a>
  <a href="#">About</a>
  <div class="spacer">
    <a routerLink="/login">Logout</a>
  </div>
</nav>

<!-- Main Content -->
<div>
  <h1>Welcome to Our Website!</h1>
  <p>This is the homepage content...</p>
</div>

</body>

</html>
