
  <nav>
    <div class="links">
      <ul class="uno">
        <li routerLink="/"><img class ="home"><h4>Home</h4></li>
        <li routerLink="/shop"><img class ="account"><h4>Explore</h4></li>
        <li routerLink="/dashboard"><img class ="account"><h4>Dashboard</h4></li>
        <!-- Add more navigation items as needed -->
      </ul>
      <ul class="dos">
        <li routerLink="/orders"><img class ="account"><h4>Orders</h4></li>
        <li routerLink="/notifications"><img class ="account"><h4>Alerts</h4></li>
        <li routerLink=""><img class ="account"><h4>Cart</h4></li>
        <!-- Add more navigation items as needed -->
      </ul>

      <ul class="tres">
        <li routerLink="/products"><img class ="account"><h4>Catalog</h4></li>
        <li routerLink="/shortlist"><img class ="account"><h4>Shortlist</h4></li>
        <li routerLink="/notifications"><img class ="account"><h4>Account</h4></li>
        <!-- Add more navigation items as needed -->
      </ul>
      <!--
      <ul class="quarter">
        <li></li>
        <li></li>
        <li></li>
         Add more navigation items as needed
      </ul> -->
    </div>
    <div class="footer">
      <h6><a href="">About</a></h6>
      <h6>Newsroom</h6>
      <h6>Contact</h6>
      <h6>Careers</h6>
      <h6>Rewards</h6>
      <h6>Help</h6>
      <h6>Safety</h6>
      <h6>Terms</h6>
      <h6>Privacy</h6>
      <h6>Admin Portal</h6>
      <h6>Community Guidelines</h6>
    </div>
    </nav>
