nav {
  display: inline-block;
  background-color: #121212;
  max-width: 200px; /* Dynamic navigation width based on viewport width (3.5% of the viewport width) */
  height: 95vh; /* Full viewport height for the navigation */

}
nav:hover {
}

/* Style the logo or link in the header */
.link{
  width: 70%;
  margin: 2px 0 0 0;
  padding: 0 0 0 25px;
}

/* Style the navigation menu */
.footer{
  display: inline;
  justify-content: center;
  align-items: center;
}


.footer h6{
  margin: 0 22px 0 0;
  display: inline-block;
  font-size: 80%;
  color: #fff;
}
.footer h6:hover{
  color: rgba(239, 239, 239, 0.3);
}
.uno li, .dos li, .tres li, .quarter li{
  position: relative;
  right: 30px;
  width: 173px;
  margin-top: 7px;
  margin-left: 0;
  height: 35px;
  display: inline-flex;
}
.uno li:hover, .dos li:hover, .tres li:hover{
  backdrop-filter: blur();
  background: #252424;
  transition: background .2s;
  .uno li h4, .dos li h4, .tres li h4{
    text-shadow: #008ABF;
  }
}

.uno li h4, .dos li h4, .tres li h4 {

  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  margin: auto;
  margin-left: 10px;

  font-size: 140%;
}

.home{
  content: url(src/app/components/nav/account.png);
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 25px;
}
.account{
  content: url(src/app/components/nav/account.png);
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 25px;
}

.alert{
  content: url(src/app/components/nav/warning.png);
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 33px;
  height: 28px;
}
@media screen and (max-width: 800px) {
  nav {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 69px;

  }

  .uno li:hover, .dos li:hover, tres li:hover {
    border: 0;
    width: 50px;
  }

  .uno li h4, .dos li h4, .tres li h4 {
    display: none;
  }
}
