
  <nav>
    <div class="links">
      <ul class="uno">
        <li routerLink="/"><img class ="home"><h4>Home</h4></li>
        <li routerLink="/product"><img class ="account"><h4>Explore</h4></li>
        <li routerLink="/dashboard"><img class ="account"><h4>Dashboard</h4></li>
        <!-- Add more navigation items as needed -->
      </ul>
      <ul class="dos">
        <li routerLink="/orders"><img class ="account"><h4>Orders</h4></li>
        <li routerLink="/notifications"><img class ="account"><h4>Alerts</h4></li>
        <li routerLink="/shortlist"><img class ="account"><h4>Shortlist</h4></li>
        <!-- Add more navigation items as needed -->
      </ul>
    </div>
  </nav>
