<!--userListing.component.html-->

<div class="table-container">
  <h2 class="table-heading">User Listing</h2>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let element">{{element.phone}}</td>
    </ng-container>

    <!-- User Category Column -->
    <ng-container matColumnDef="userCategory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
      <td mat-cell *matCellDef="let element">
        {{  element.userCategory === 1 ? 'ADMIN' : element.userCategory === 2 ? 'BUYER' : element.userCategory === 3 ? 'SELLER' : 'Unknown' }}
      <td>
    </ng-container>

    <!-- Active Status Column -->
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">{{element.isActive ? 'Active' : 'Inactive'}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="action-buttons">
          <button mat-raised-button
                  [disabled]="element.userCategory !== 3"
                  [style.color]="element.userCategory !== 3 ? 'white' : ''"
                  color="primary"
                  (click)="onClickProductListOfUser(element)">Products</button>
          <button mat-raised-button color="accent" (click)="updateUser(element)">Update</button>
          <button mat-raised-button color="warn" (click)="deleteUser(element)">Delete</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
