<!--footer.component.html-->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../../assets/images/footer/wpu-logo.jpg" alt="William Paterson University Logo" width="152" height=auto />
    </div>
    <div class="footer-address">
      <p>William Paterson University</p>
      <p>300 Pompton Road</p>
      <p>Wayne, New Jersey 07470</p>
      <p>973-720-2000</p>
    </div>
    <div class="footer-connect">
      <a href="" class="wp-connect-btn">WP Connect</a>
      <p>Stay Connected</p>
      <div class="social-icons">
        <a href=""><img src="../../../assets/images/footer/facebook-icon.png" alt="Facebook"></a>
        <a href=""><img src="../../../assets/images/footer/twitter-icon.png" alt="Twitter"></a>
        <a href=""><img src="../../../assets/images/footer/instagram-icon.png" alt="Instagram"></a>
        <a href=""><img src="../../../assets/images/footer/additional-icon.png" alt="Additional"></a>
      </div>
    </div>
  </div>
</footer>
