.container {
  background-color: #16191c;
  height: 100%;
  display: block;
  overflow: auto;
}

.trending{
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.latest{
  margin: 50px 0 0 0;
}
.buy-now{
  margin: 35px 0 0 3%;
}
.categories{
  max-height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3% 0 0 0;
  padding: 0 0 0 15%;
  overflow: clip;

}
.categories p {
  margin-bottom: 20px;
}

h2{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 3em;
  font-weight: bolder;
  color: white;
}
p{
  color: #b9b9b9;
}
.moshi{
  position: relative;
  left: 0.3%;
}
span{
  color: #a69b1d;
}
@media screen and (max-width: 900px) {
  /* Adjust header styles for smaller screens */
  h2 {
    font-size: 2rem;
    /* Other necessary adjustments */
  }
}
h6{
  font-size: 11px;
}
.categories p{
  padding-left: 50px;
}
.category-bubbles{
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  overflow: clip;

}
.cat{
  display: block;
  text-align: center;
  margin: 11px;
  color: #a59a1d;
}
.cat:hover{
    text-decoration: underline;
    color: #dad7e5;

}
.bubble {
  height: 9rem;
  width: 9rem;
  max-height: 9rem;
  max-width: 9rem;
  border-radius: 50%;
  border: 3px solid transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  overflow: clip;

}
.img{
  width: 60%;
  height: 60%;
  content: url("./category/ref.svg");
}


.bubble:hover{

  border: 3px solid #ffffff;


}

/*
aside from header and nav bar

would have "View Latest Arrivals"

A COUNTDOWN especially for days like black friday
Newsletter SignUp and link to view the latest newsletter

Responsive positioning, link design :hover + transition ease
Page color - Dark orange and grey

             Payment portal security and site security badges
             Assurance info
*/
