<div class="container">
  <div class="trending">
    <div class="latest">
      <h2> Black Friday <span>is here.</span></h2>
      <p class="moshi">Save time. Save money.<br> And make the most of your tech with our help. </p>
    </div>
    <div class="buy-now">
      <p>Limited quantities.<br>See<span> Black Friday Deals</span></p>
    </div>
  </div>
  <div class="categories">
    <p> Shop By Categories</p>
    <div class="category-bubbles">
      <div class="cat" *ngFor="let cate of category">
        <div class="bubble" [routerLink]="['/products/', cate.category]" style="cursor: pointer;">

          <div class="img" [innerHTML]="svgCode">
          </div>
        </div>
        <h6 class="cate" [routerLink]="['/products/', cate.category]" style="cursor: pointer;"> {{ cate.category | titlecase}}</h6>
      </div>
    </div>
  </div>
</div>
