<div class="container" >

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{column | titlecase}}</mat-header-cell>
      <mat-cell *matCellDef="let products">
        <ng-container [ngSwitch]="column">
          <ng-container *ngSwitchCase="'category'">
            <!-- Content for the 'category' column -->
            {{ products[column][0]["name"] }}
          </ng-container>

          <ng-container *ngSwitchCase="'image'">
            <div class="img">
              <img [src]="products[column]" alt="Product Image" width=100% height=100% style="max-height: 70px; ">
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'url'">
            <!-- Content for the 'url' column -->
            <a [href]="products[column]" target="_blank" >Best Buy</a>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <!-- Default content for other columns -->
            {{ products[column] }}
          </ng-container>
        </ng-container>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>

</div>

