
.container{
  max-height: calc(100vh - 110px);
}
mat-table {
  max-width: inherit;
  max-height: inherit;

}
mat-cell{
  overflow: hidden;
  max-height: 35vh;

  text-overflow: ellipsis; /* Truncate text with an ellipsis (...) */

}

.img{

}
.img ng-star-inserted{

}
