<!-- shop.component.html -->
<div class="shop-container">
  <app-side-nav [categories]="productCategories" (categorySelected)="onCategorySelected($event)"></app-side-nav>
  <div class="product-grid">
    <div class="product-card" *ngFor="let product of products">
      <img [src]="product.productImageUrl" alt="Product Image">
      <h3>{{ product.productName }}</h3>
      <p>Price: {{ product.productPrice | currency }}</p>
      <button [routerLink]="['/product', product.id]">View Details</button>
      <button>Add to Cart</button>
    </div>
  </div>
</div>

