
<mat-card>
  <mat-card-header>
    <h1>User Registration</h1>
  </mat-card-header>
  <mat-card-content >
    <form class="example-form" [formGroup]="registerForm" (ngSubmit)="proceedRegistration()">

      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input type="name" matInput formControlName="firstname">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input type="name" matInput formControlName="lastname">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>
      <div>
        <mat-radio-group formControlName="gender" aria-label="Gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <button mat-raised-button color="primary">Submit</button>
        <a routerLink="/login" mat-raised-button color="accent">Back</a>
      </div>

    </form>

  </mat-card-content>
</mat-card>
