<div class="table-container">
  <h2 class="table-heading">Product Listing</h2>
  <table mat-table [dataSource]="productDataSource" matSort class="mat-elevation-z8">

    <!-- Product ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product ID</th>
      <td mat-cell *matCellDef="let product">{{product.id}}</td>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
      <td mat-cell *matCellDef="let product">{{product.productName}}</td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="productQuantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td mat-cell *matCellDef="let product">{{product.productQuantity}}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="productPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let product">{{product.productPrice | currency}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="action-header">Actions</th>
      <td mat-cell *matCellDef="let product" class="action-cell"> <!-- Center align the cell content -->
        <div class="action-buttons">
          <button mat-raised-button color="accent" (click)="onClickViewProductDetails(product)">View Details</button>
          <button mat-raised-button color="accent" (click)="onClickUpdateProduct(product)">Update</button>
          <button mat-raised-button color="warn" (click)="onClickDeleteProduct(product)">Delete</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
